.itemCard {
  width: 100%;
  height: 450px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.itemImage {
  position: relative;
  align-self: center;
  display: flex;
  min-height: 320px;
  max-height: 320px;
}

.itemImage img {
  justify-self: center;
  max-width: 250px;
  object-fit: contain;
}

.quantButton {
  position: absolute;
  left: -15px;
  bottom: -15px;
}

.itemInfo {
  margin-top: 25px;
}

.itemInfo > .price {
  font-size: 2rem;
  font-weight: 500;
}

.itemInfo > .title {
  font-size: 1.8rem;
}

.itemCard.cart {
  display: grid;
  height: 295px;
  gap: 0;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.itemCard.cart .itemImage {
  align-self: center;
  justify-self: end;
  min-height: 250px;
  max-height: 250px;
}

.itemCard.cart .itemInfo {
  justify-self: start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 5px;
}
